@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/CoreBlogTema/js/jquery-2.2.3.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Writer Register Page</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">First and Last name</label>
                            @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control", @id = "validationCustom01", @placeholder = "Adınızı ve Soyadınızı Giriniz", @required = "" })
                            @*<input type="text" class="form-control" id="validationDefault01" name="WriterName" placeholder="" required="">*@
                            @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Email Address</label>
                            @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control", @id = "validationDefault02", @placeholder = "E-Postanızı Giriniz", @required = "" })
                            @*<input type="email" class="form-control" id="validationDefault02" name="WriterMail" placeholder="" required="">*@
                            @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control", @id = "password1", @placeholder = "Şifre Giriniz", @required = "" })
                            @*<input type="password" class="form-control" name="WriterPassword" id="password1" placeholder="" required="">*@
                            @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Confirm Password</label>
                            @Html.Password("passwordAgain", "", new { @class = "form-control", @id = "password2", @placeholder = "Şifre Giriniz", @required = "" })
                            @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ValidationCustom03 mb-2">Image File Path</label>

                            @Html.TextBoxFor(x => x.WriterImage)
                            @Html.ValidationMessageFor(x => x.WriterImage)
                            <input type="file" class="form-control-file" name="imageFile" />
                            @*<input type="text" class="form-control" name="WriterImage" id="Image" placeholder="" required="">*@
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="validationCustom04 mb-2">What You Want To Write About You</label>
                                @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control" })
                            </div>
                        </div>

                        <select asp-items="ViewBag.item" class="form-control"></select>

                    </div>

                    @Html.ValidationMessage("ErrorMessage", "", new { @class = "text-danger" })

                    <button type="submit" class="btn btn-primary submit mb-4" style="margin-top:15px">Register</button>
                    <p>
                        <a href="#" id="btn1">By clicking Signup, I agree to your terms</a>
                    </p>
                }
            </div>
        </div>
    </div>
    <script>
        $('#btn1').click(function () {
            swal.fire('Contract Terms',
                'Information and news e-mails via the e-mail address you have given to our site' +
                'varnadab will continue to be sent to spam measure!.' +
                'If you want to unsubscribe from the e-mail newsletter, you can unsubscribe from the mail thread' +
                'any users password and e - mail addresses in encrypted format' +
                'stored in the database so that it cannot be seen',
                'Information Message');
        })
    </script>
</section>